html,body { height: 100%; margin: 0px; padding: 0px; }

#root {
  height: 100%;
  overflow: hidden;
}

#mainContainer, #mainRow {
  height: 100%;
}

#search-box {
  padding-top: 20px;
}

#search-location {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  border-radius: 0;
}

.title {
  color: #000;
  font-weight: 400;
}

.y-scroll {
  overflow-y: auto;
}

.height-100 {
  height: 100%;
}

.height-200 {
  height: 200px;
}

.padding-0 {
  padding: 0;
}

@media (min-width: 767.98px) {
  #use-localation {
    width: 100%;
  }
}